<div class="container">
    <h1>Available Surveys</h1>
    <app-survey-list-item *ngFor="let survey of surveys" 
        (clickSurvey)="onSurveyClicked($event)"
        [survey]="survey"></app-survey-list-item>

    <div *ngIf="surveyListError">
        {{ surveyListError }}
    </div>
</div>

