<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <h2 class="navbar-brand">Survey Poodle</h2>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/surveys">Surveys</a>
                </li>
            </ul>
        </div>
    </div>
</nav>